* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  padding: 30px 0;
}
.App {
  width: 90%;
  margin: auto;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 50px;
  color: #0f0f2d;
}
nav button {
  font-size: 1rem;
  background: #555a88;
  color: #fff;
  padding: 10px 10px 10px 20px;
  border: none;
  margin-right: -20px;
}
.user-list {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.user-card {
  width: 381px;
  min-height: 274px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
}
.user-card h2 {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #0f0f2d;
}
.user-info {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-info h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d3d3d3;
}
.user-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #302f2f;
}
.btn-card {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.btn-card button {
  width: 43px;
  height: 43px;
  font-size: 23px;
  border-radius: 4px;
}
.btn-card button:nth-child(1) {
  background: #d85d5d;
  color: #fff;
  border: 1px solid #d93f3f;
}
.btn-card button:nth-child(2) {
  background: #f7f7f7;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.users-form form {
  width: 419px;
  height: 600px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.users-form form h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #0f0f2d;
}
.users-form form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.users-form form div label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.users-form form div input {
  width: 355px;
  height: 48px;
  background: #f9fafc;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px;
}
.modal-remove {
  background-color: #fff;
  width: 419px;
  min-height: 265px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.btn-to-accept {
  background: #555a88;
  color: #fff;
  padding: 15px;
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 50%;
  border: none;
}
.show-and-hide{
  position: absolute;
  top: 385px;
  right: 60px;
  font-size: 1.5rem;
  border: none;
  background: none;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  .user-list {
    grid-template-columns: repeat(1, auto);
  }
}
@media (min-width: 800px) {
  nav {
    flex-direction: row;
  }
  .user-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 1100px) {
  .user-list {
    grid-template-columns: repeat(3, auto);
  }
}
